*{
    padding: 0;
    margin: 0;
}

.nav-bar{
    background-color: aquamarine;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    height: 50px;
}

    ul{
        width: 97%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        ul li{
            display: inline;
        }

.detalle{
    margin-top: 30px;
    display: flex;
    height: 100vh;
    align-items: center;
}

    .img{
        border: 5px solid aquamarine;
        border-radius: 10px;
    }

    .img img{
         width: 300px;
         border-radius: 10px;
    }

    .descripcion{
        margin-left: 100px;
    }

        .descripcion span{
            font-size: 25px;
            font-weight: 500;
        }

        .descripcion p{
            font-size: 20px;
        }

        .descripcion input{
            width: 70px;
            padding-left: 5px;
        }

        .descripcion button{
            border: 1px solid black;
            border-radius: 10px;
            background-color: lightgreen;
            margin-left: 5px;
            padding: 5px;
        }

