* {
    padding: 0;
    margin: 0;
  }
  
  .nav-bar {
    background-color: rgb(126, 11, 97);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    height: 50px;
  }
  .nav {
    font-size: 30px;
    font-family: fantasy;
    color: white;
  }
  .nav ul li a{
    text-decoration: none;
    color:white;
  }
  ul {
    width: 97%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul li {
    display: inline;
  }
  
  .carrito {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
 
.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 20px;;
    align-items: center;
  
 }
 .datos{
    display: flex;
    flex-direction: column;
 }
 button{
    margin-top: 20px;
    align-items: center;
    padding: 15px;
    position: center;
    border-radius: 5px;
    background-color: rgb(126, 11, 97);
    font-family: fantasy;
    color: white;
 }
